.project(
  name="project",
  class=project.id
  data-type=project.preview.type,
  id=project.id
)

  .project-name(name="name", class="color-background")
    h2.text= project.name

  //- YEAR
  .project-year(name="year", class=project.id, class="color-text")
    h3= project.year

  //- PREVIEW
  case project.preview.type
    when 'video'
      .project-preview.video(name="preview", data-type="video")
        include ../video-player/video-player.pug
    when 'music'
      .project-preview.music(name="preview" data-type="music")
        include ../audio-player/audio-player.pug
    when 'slideshow'
      .project-preview.slideshow(name="preview", data-type="slideshow")= 'Slideshow'
    when 'experience'
      .project-preview.experience(name="preview", data-type="experience")
        include ../experience/experience.pug

  .details
    //- COMPANY
    if project.company
      .project-company(name="company")
        span.animated-text= project.company

    //- POSITION
    if project.positions && project.positions.length > 0
      .position(name="position")
        span.animated-text
          each position, index in project.positions
            = position + (index < project.positions.length - 1 ? ' / ' : '')

    //- TEAM
    if project.team
      .team
        span.animated-text
          = 'Team of ' + project.team

    //- TOOLS
    if project.tools && project.tools.length > 0
      .project-tools(name="tools")
        span.animated-text
          each tool, index in project.tools
            = tool + (index < project.tools.length - 1 ? ', ' : '')

    //- CLIENTS
    if project.clients && project.clients.length > 0
      .project-clients(name="clients")
        span.animated-text
          span.bolder= "Clients: "
          each client, index in project.clients
            = client + (index < project.clients.length - 1 ? ', ' : '')

    //- DESCRIPTION
    if project.description
      .description
        span.animated-text= project.description

    //- LINKS
    if project.links && project.links.length > 0
      .project-links.animated-text
        each link in project.links
          a.project-link(
            href=link.url,
            target="blank",
            title=link.name,
            class="color-text"
          )
            if link.icon
              i(class=link.icon)
            else
              = link.name

