.video-container(name="videoContainer")
  .play-video(name="playVideo")
    .icon-wrapper
      i.fas.fa-play-circle.color-background
  .mute-video(name="muteVideo")
    i.fas.fa-volume-mute.color-text

  -
    //- var root = "assets/video";
    var root = "https://storage.googleapis.com/soul-fresh-com-videos";
    var image = encodeURIComponent(project.preview.meta.img);
    var poster = `assets/poster-frames/${image}`;
    var sources = project.preview.src;
    var large = sources.largeHD[0];
    var parts = large.split(' x ');
    var partsL = parts[0].trim().split(' ');
    var partsR = parts[1].trim().split(' ');
    var width = parseInt(partsL[partsL.length - 1], 10);
    var height = parseInt(partsR[0], 10);
    var ratio = (height / width) * 100;

    var style = `background-image: url(${poster});`;
    style    += `padding-top: ${ratio}%;`;
    style    += "background-size: cover;"

  //- .video-poster(
  //-   name="poster"
  //-   style=style,
  //-   data-width=width,
  //-   data-height=height,
  //-   data-poster=poster,
  //-   data-root=root,
  //-   data-large-hd=sources.largeHD.join('||'),
  //-   data-large-sd=sources.largeSD.join('||'),
  //-   data-small-hd=sources.smallHD.join('||'),
  //-   data-small-sd=sources.smallSD.join('||')
  //- )

  video(
    loop,
    name="video",
    poster=poster,
    preload= projectIndex == 0 ? "auto" : "none"
    data-root=root,
    data-large-hd=sources.largeHD.join('||'),
    data-large-sd=sources.largeSD.join('||'),
    data-small-hd=sources.smallHD.join('||'),
    data-small-sd=sources.smallSD.join('||')
  )
    each source in project.preview.src.smallHD
      -
        var parts = source.split('.');
        var type = parts[parts.length - 1];

      source(
        src=`${root}/${source}`
        type="video/" + type
      )
